.sui_table { position: relative; border-collapse: collapse; border-spacing: 0; font-size: 12px; border: 1px solid #d0d0d0; background: #fff; overflow: hidden; box-sizing: border-box;}
.sui_table table { table-layout: fixed; border-collapse: collapse; border-width: 0; }
.sui_table .grid_thead { clear: both; overflow: hidden; background: #ebecee url('../images/table/gradient.png') 0 -43px repeat-x; }
.sui_table .grid_thead .grid_thead_box {float: left;}
.sui_table .grid_thead table{}
.sui_table .grid_thead .headercell { padding: 0; font-weight: normal;  border-right: 1px solid #D0D0D0; height: 24px; border-bottom: 1px solid #d0d0d0;}
.sui_table .grid_thead .headercell_inner { position: relative; padding: 0 5px; overflow: hidden; height: 24px;line-height: 24px; }
.sui_table .grid_thead .headercell_inner_hove{ border-bottom-color: #ec6941;}
.sui_table .grid_thead .grid_thead_column_trigger { display: none; position: absolute; top: 0; right: 0; width: 14px; height: 100%; background: url('../images/table/table_th_opr.png') 50% no-repeat; cursor: pointer; border-left: 1px solid #ccc; }
.sui_table .grid_body {  position: relative; clear: both; overflow: auto;zoom:1;display: inline;}
@media all and (min-width:0) {
    .sui_table .grid_body{ display: block;} /*修复IE8删除表格行出现滚动条问题*/
}
.sui_table .grid_body table{ table-layout: initial;}/*修复chrome下出现横向滚动条的异常*/
.sui_table .odd{ background: #f7f7f7;}
.sui_table .bodycell { line-height: 24px; overflow: hidden; border-right: 1px solid #ccc; border-bottom: 1px solid #D0D0D0; word-wrap: break-word; word-break: break-all;}
	.sui_table .bodycell .bodycell_inner { padding: 0 5px; overflow: hidden;  }
    .sui_table .emptycell{ height: 150px; text-align: center; }
.sui_table .sui_selectedrow { background: #FFFCEC; }
.sui_table .sui_mouseroverrow { background-color: #FFFCEC; }
.sui_texteditor { border: 1px solid #3399ff; height: auto; box-shadow: 0 0 5px #3399ff;overflow: visible; }
	.sui_texteditor input { height: 100%; line-height: 24px; border: 0 none; }
    .sui_texteditor input:focus{ outline: 0 none;}

.sui_table .cDrag{position: absolute; float: left; top:0; left:0; overflow: visible;}
.sui_table .cDrag div{ position: absolute; width:5px; cursor:col-resize;}
.sui_table .cDrag div:hover,
.sui_table .cDrag .dragging{ background: url('../images/table/line.gif') 1px center repeat-y; }

.colCopy{  float: left; width:100px; height: 24px;line-height: 24px;  background: url("../images/table/gradient.png") repeat-x scroll 0 -43px #EBECEE; border: 1px solid #d0d0d0; }
.colCopy .headercell_inner{overflow: hidden; padding: 0 5px;}

.sui_table_menuitem_checked {background-image : url('../images/table/checked.png')}
.sui_table_menuitem_unchecked {background-image : url('../images/table/unchecked.png')}
